<!DOCTYPE html>
<html>
<head>
	<title>Add Restaurent MENU</title>


</head>
<body>

<h1>Add Restaurent MENU</h1> 

	<a href="/adminhome/restaurentinfo">Back</a> |
	<a href="/adminlogout">logout</a> 
	<br>
	<br>
	<p><h1><font color="blue">Add tk in the Price like 100tk</font></h1></p>

<form method="post">
	<table border="0" width="300px" >
		<!-- <tr>
					<td>Restaurent </td>
					<td><input type="text" name="item"></td>
				</tr>
 -->


		<tr>
					<td>Item Name</td>
					<td><input type="text" name="item"></td>
				</tr>
		<tr>
					<td>Price</td>
					<td><input type="text" name="price"></td>
				</tr>
				
				
		
		<tr>
			<td></td>
			<td></td>
			<td><input type="submit"  name="save" value="Save" /></td>
		</tr>
	</table>
</form>

</body>
</html>