<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

						
						<h1 ><a>Welcome To Admin Panel</a></h1>
						
						<h1><a href="/adminhome/admininfo">Admin Profile</a>|
						<a href="/adminhome/memberlist">Memberlist</a>|
						<a href="/adminhome/restaurentinfo">Restaurents Information</a>|
						<a href="/adminhome/foodexperience">Food Experience</a>|
					    <a href="/adminlogout">LogOut</h1>
							
								
								
						
								
		
								
</body>
</html>