<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
						
						<h1 ><a>Online Food Blog</a></h1>
						
						
						<h1><a href="#">ADMIN</a></h1>
							
								<h2><li><a href="/adminlogin">Login</a></li>
								<li><a href="/adminregister">Registration</a></li></h2>
								
						<h1><a href="#">MEMBER</a></h1>
						         <h2><li><a href="/memberlogin">Login</a></li>
								<li><a href="/memberregister">Registration</a></li></h2>
						<h1><a href="/visitor">VISITOR</a></h1>
								
		
								
</body>
</html>