<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

						
						<h1 ><a>Welcome To User Panel</a></h1>
						
						<h1><a href="/memberhome/memberinfo">User Profile</a>|
						<!-- <a href="/adminhome/memberlist">Memberlist</a>|
						<a href="/adminhome/restaurentinfo">Restaurents Information</a>| -->
						<a href="/memberhome/restaurentinfo">Food Experience</a>|
					    <a href="/memberlogout">LogOut</h1>
							
								
								
						
								
		
								
</body>
</html>